dist/
coverage/
tmp/
out-tsc/
bazel-out/
node_modules/
.vscode/
.idea/
.vscode/
.prettierignore
package-lock.json
package.json
yarn.locksrc\app\all-messages\all-messages.component.scss:
angular.json
tsconfig.json
*.html
*.scss
